.card-wrapper {
  width: 33%;
  padding: 0.75rem;
  display: flex;
}

.card {
  background: #fbfbfb;
  box-shadow: 0 2px 4px #f3f3f3;
  padding: 1rem;
  border: 1px solid #f3f3f3;
  border-radius: 4px;
}

.card h3 {
  padding: 0 0 1.5rem;
}

.card .card-img {
  width: 100%;
}

.card small {
  color: #666;
  font-size: 0.8rem;
}

@media (min-width: 601px) and (max-width: 960px) {
  .card-wrapper {
    width: 50%;
  }
}

@media (max-width: 600px) {
  .card-wrapper {
    width: 100%;
  }
}