@import '../../assets/styles/core.scss';

.card-wrapper {
  width: 33.33%;
  padding: 0.75rem;
  display: flex;

  @include media(mobile down) {
    padding: 0.5rem 0;
    width: 100%;
  }

  @include media(tablet) {
    width: 50%;
  }

  .card {
    background: $app-card-bg;
    box-shadow: 0 2px 4px $app-card-shadow;
    padding: 1rem;
    border: 1px solid $app-card-border;
    border-radius: 4px;

    h3 {
      padding: 0 0 1.5rem;
    }

    .card-img {
      width: 100%;
    }

    small {
      color: $app-text-tertiary;
      font-size: 0.8rem;
    }
  }
}
