@import '../../assets/styles/core.scss';

.feed-container {
  .flexi-header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 1.75rem 0.5rem;

    @include media(mobile down) {
      padding: 0 1rem 0.5rem;
    }

    h1 {
      width: 100%;
      
      @include media(mobile down) {
        width: 25%;
      }
    }
  }
  
  h2 {
    margin-top: 2rem;
    padding: 0 1.75rem;

    @include media(mobile down) {
      margin-top: 2rem;
      padding: 0 1rem;
    }
  }

  .cards-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 1rem;
  }
}
