$app-text-primary: #222;
$app-text-secondary: #444;
$app-text-tertiary: #666;
$app-text-white: #fff;
$app-text-black: #000;

$app-bg-body: #eee;
$app-bg-container: #fff;

$app-input-border: #ddd;
$app-input-shadow: #f3f3f3;

$app-card-bg: #fbfbfb;
$app-card-border: #f3f3f3;
$app-card-shadow: #f3f3f3;

$app-table-border: #eee;
$app-table-head-bg: #fbfbfb;
