@import '../../assets/styles/core.scss';

.sort-wrapper {
  display: flex;
  align-items: center;
  min-width: 180px;
  width: 25%;
  justify-content: flex-end;

  .label {
    padding-right: 0.5rem;
    width: 90px;
    text-align: right;
  }

  .select-box select {
    padding: 0.5rem;
    border: 1px solid $app-input-border;
    border-radius: 4px;
    color: #444;
    box-shadow: 0 2px 4px $app-input-shadow;
    width: 100%;
  }
}
